ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// form control
.form-control {
  border-radius: 0;
}
// flex slider
.flexslider {
  border: 0;
  .slides {
    img {
      height: 255px;
    }
  }
}

.flex-control {
  &-nav {
    bottom: 50px;
    li a {
      background: #eee;
      background: rgba(244,244,244,0.5);
      &.flex-active, &:hover, &:focus {
        background: #fff;
        background: rgba(255,255,255,1);
      }
    }
  }
}

.flex-direction-nav a {
  height: 60px;
  &:before {
    color: rgba(255, 255, 255, 1);
  }
}