<div class="advanced-view tabbed-view"><!-- Nav tabs -->
    <div class="content-row">
        <div class="btn-header-wrap"><button class="page-title-btn btn btn-primary" type="button">About Us</button></div>

        <div class="tab-content">
            <p class="teaser">Market News needs to improve transparency, speed, accuracy, and flexibility to remain relevant to agricultural market stakeholders. The Market Analysis &amp; Reporting Services (MARS) is a standardized information management system which will assist Market News to collect and distribute information from remote locations by combining all reporting functions into a single, user-managed platform. MARS will facilitate the flow of data from the data provider to agency analysts and to the public, and allow users to create unique content.</p>
        </div>
    </div>

    <div class="content-row">
        <div class="btn-header-wrap"><button class="page-title-btn btn btn-primary" type="button">MARS&nbsp;Services</button></div>

        <div class="tab-content">
            <div class="row service-row">
                <div class="col-sm-3">
                    <h4 class="header">MARS Public</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">International Users</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">Intra-agency Users</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">Crowd Sourcing</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">Reporters</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">Administrators</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>

                <div class="col-sm-3">
                    <h4 class="header">Auditors</h4>

                    <div class="image-block"><a href="http://placehold.it"><img src="http://placehold.it/350x150" /></a></div>

                    <div class="teaser-block">Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do iusmod por adipiscing elit, sedo eiusmodlmpor</div>
                </div>
            </div>
        </div>
    </div>
</div>
