<div class="contact-view">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="contacts-tab active">
            <a href="#cotton" aria-controls="cotton-view" role="tab" data-toggle="tab">
                Cotton
            </a>
        </li>
        <li role="presentation" class="contacts-tab">
            <a href="#dairy" aria-controls="dairy-view" role="tab" data-toggle="tab">
                Dairy
            </a>
        </li>
        <li role="presentation" class="contacts-tab">
            <a href="#livestock" aria-controls="livestock-view" role="tab" data-toggle="tab">
                Livestock, Polutry & Grain
            </a>
        </li>
        <li role="presentation" class="contacts-tab">
            <a href="#specialty" aria-controls="specialty-view" role="tab" data-toggle="tab">
                Specialty Crops
            </a>
        </li>
        <li role="presentation" class="contacts-tab">
            <a href="#tobacco" aria-controls="tobacco-view" role="tab" data-toggle="tab">
                Tobacco
            </a>
        </li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="cotton">
            <h2>Cotton Market News Contact</h2>
            <div class="contact-list">
                <p>Barbara Meredith, Division Director<br>Memphis, TN<br>E-mail:&nbsp; <a href="mailto:Barbara.Meredith@ams.usda.gov">Barbara.Meredith@ams.usda.gov</a><br>Phone: (901) 384-3016</p>
                <p>Cathy L. Greene, Deputy Director<br>Memphis, TN<br>E-mail:&nbsp; <a href="mailto:Cathy.Greene@ams.usda.gov">Cathy.Greene@ams.usda.gov</a><br>Phone: (901) 384-3016</p>
                <p>Veronica Williamson, National Reporter<br>Florence, SC<br>E-mail:&nbsp;<a href="mailto:Veronica.Williamson@ams.usda.gov">Veronica.Williamson@ams.usda.gov</a><br>Phone: (843) 667-4381</p>
                <p>Danny Pino, Southeast Area Reporter (AL, FL, GA, NC, SC, VA)<br>Macon, GA<br>E-mail:&nbsp;&nbsp;<a href="mailto:Danny.Pino@ams.usda.gov">Danny.Pino@ams.usda.gov</a><br>Phone: (478) 752-3560 &nbsp; &nbsp;&nbsp;</p>
                <p>Jeff Carnahan, South Central Area Reporter (AR, LA, MO, MS, TN)<br>Memphis, TN<br>E-mail:&nbsp;&nbsp;<a href="mailto:Jeff.Carnahan@ams.usda.gov">Jeff.Carnahan@ams.usda.gov</a><br>Phone: (901) 384-3016 &nbsp; &nbsp;&nbsp;</p>
                <p>Maria L. Townsend, Far West Area Reporter (AZ, CA, NM)<br>Visalia, CA<br>E-mail:&nbsp;&nbsp;<a href="mailto:Maria.Townsend@ams.usda.gov">Maria.Townsend@ams.usda.gov</a><br>Phone: (559) 651-3015 &nbsp; &nbsp;&nbsp;</p>
                <p>Jane Byers-Angle, Southwest Area Reporter (KS, OK, TX)<br>Lubbock, TX<br>E-mail:&nbsp;&nbsp;<a href="mailto:Jane.Byers-Angle@ams.usda.gov">Jane.Byers-Angle@ams.usda.gov</a><br>Phone: 806-472-7635<br>Fax: 806-472-7630</p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="dairy">
            <h2>Dairy Market News Contact</h2>
            <div class="contact-list">
                <p><strong>Acting National Supervisor</strong><br><a href="mailto:Janet.Linder@ams.usda.gov">Janet Linder</a><br>(608) 422-8588</p>
                <p><strong>Organic/International</strong><br><a href="mailto:Eric.Graf@ams.usda.gov">Eric Graf</a><br>(608) 422-8590</p>
                <p><strong>Southwest</strong><br><a href="mailto:Angel.Teran@ams.usda.gov">AJ (Angel José) Terán</a><br>(608) 422-8593</p>
                <p><a href="mailto:Florence.KoneGonzalez@ams.usda.gov">Florence Kone-Gonzalez</a><br>(608)422-8594</p>
                <p><strong>Central</strong><br><a href="mailto:Israel.Weber@ams.usda.gov">Israel Weber</a><br>(608) 422-8601</p>
                <p><strong>Northwest/ Mountain</strong><br><a href="mailto:Mike.Bandli@ams.usda.gov">Mike Bandli</a><br>(608) 422-8592</p>
                <p><strong>East</strong><br><a href="mailto:Daniel.Johnson@ams.usda.gov">Daniel Johnson </a><br>(608) 422-8605</p>
                <p><a href="mailto:Jessica.Mueller@ams.usda.gov">Jessica Mueller</a><br>(608)422-8589</p>
                <p><a href="mailto:Elizabeth.Frederick@ams.usda.gov">Elizabeth Frederick</a><br>(608) 422-8587</p>
                <p><strong>General</strong></p>
                <p>Phone - (608) 422-8587<br>Fax - (608) 240-6689</p>
                <p>Market News Information System - Recorded Phone Reports<br>(608) 422-8602</p>
                <p><strong>Mailing Address</strong></p>
                <p>USDA/AMS/Dairy Market News<br>4600 American Parkway, Suite 106<br>Madison, WI 53718-8334<br><br>&nbsp;</p>
                <p><br>&nbsp;</p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="livestock">
            <h2>Livestock, Poultry & Grain Market News Contact</h2>
            <div class="contact-list">
                <ul class="list-inline">
                    <li><a href="#District of Columbia">Headquarters&nbsp;- Washington, DC</a></li>
                    <li><a href="#Alabama">Alabama</a></li>
                    <li><a href="#Arkansas">Arkansas</a></li>
                    <li><a href="#Colorado">Colorado</a></li>
                    <li><a href="#Georgia">Georgia</a></li>
                    <li><a href="#Illinois">Illinois</a></li>
                    <li><a href="#Iowa">Iowa</a></li>
                    <li><a href="#Kansas">Kansas</a></li>
                    <li><a href="#Kansas">Kentucky</a></li>
                    <li><a href="#Minnesota">Minnesota</a></li>
                    <li><a href="#Missouri">Missouri</a></li>
                    <li><a href="#Mississippi">Mississippi</a></li>
                    <li><a href="#Montana">Montana</a></li>
                    <li><a href="#Nebraska">Nebraska</a></li>
                    <li><a href="#New Mexico">New Mexico</a></li>
                    <li><a href="#North Carolina">North Carolina</a></li>
                    <li><a href="#Oklahoma">Oklahoma</a></li>
                    <li><a href="#Oregon">Oregon</a></li>
                    <li><a href="#Pennsylvania">Pennsylvania</a></li>
                    <li><a href="#South Carolina">South Carolina</a></li>
                    <li><a href="#South Dakota">South Dakota</a></li>
                    <li><a href="#Tennessee">Tennessee</a></li>
                    <li><a href="#Texas">Texas</a></li>
                    <li><a href="#Utah">Utah</a></li>
                    <li><a href="#Virginia">Virginia</a></li>
                    <li><a href="#Washington">Washington</a></li>
                    <li><a href="#West Virginia">West Virginia</a></li>
                    <li><a href="#Wyoming">Wyoming</a></li>
                </ul><div>&nbsp;</div>
                <div><a name="Alabama" id="Alabama"><strong>Alabama</strong></a></div>
                <div>Montgomery</div>
                <div>Livestock, Poultry and Grain Market News&nbsp;</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>1445 Federal Drive, Rm. 213</div>
                <div>Montgomery, AL 36109-1123&nbsp;</div>
                <div>Office E-mail: <a href="mailto:Montgomery.LPGMN@ams.usda.gov">Montgomery.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>David Garcia, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:David.Garcia@ams.usda.gov">David.Garcia@ams.usda.gov</a></div>
                <div>Phone: (334) 223-7488&nbsp;</div>
                <div>Fax: (334) 223-7501</div>
                <div>&nbsp;</div>
                <div><a name="Arkansas" id="Arkansas"><strong>Arkansas</strong></a></div>
                <div>Little Rock</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>2301 So. University, Rm 308i&nbsp;</div>
                <div>Little Rock, AR 72204</div>
                <div>&nbsp;</div>
                <p>James Ward, Officer-In-Charge<br>Email: <a href="mailto:james.ward@ams.usda.gov">james.ward@ams.usda.gov</a><br>Phone: (501) 671-2203</p>
                <div>&nbsp;</div>
                <div><a name="Colorado" id="Colorado"><strong>Colorado</strong></a></div>
                <div>Greeley</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>3459 West 20th Street, Suite 223A&nbsp;</div>
                <div>Greeley, CO 80634&nbsp;</div>
                <div>Office E-mail: <a href="mailto:Greeley.LPGMN@ams.usda.gov">Greeley.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Randy Hammerstrom, Officer-in-Charge</div>
                <div>Email: <a href="mailto:Randy.Hammerstrom@ams.usda.gov">Randy.Hammerstrom@ams.usda.gov</a></div>
                <div>Phone: (970) 353-9750</div>
                <div>Fax: (970) 353-9790</div>
                <div>&nbsp;</div>
                <div><a name="District of Columbia" id="District of Columbia"><strong>District of Columbia</strong></a><strong> (Headquarters)</strong></div>
                <p>USDA, AMS, LPS, LPGMN&nbsp;<br>1400 Independence Ave, SW<br>Room 2619-S,&nbsp;STOP 0252<br>Washington, DC 20250-0252&nbsp;<br>Office E-Mail: <a href="mailto:Wash.LPGMN@ams.usda.gov">Wash.LPGMN@ams.usda.gov</a><br>Phone: (202) 720-6231</p>
                <p>Michael Jeter, Assistant to the Director<br>Email: <a href="mailto:michael.jeter@ams.usda.gov">Michael.Jeter@ams.usda.gov</a><br>Phone: (816) 676-7000</p>
                <div>
                    <p>Russell Avalos, Assistant to the Director<br>Email:&nbsp; <a href="mailto:Russell.Avalos@ams.usda.gov">Russell.Avalos@ams.usda.gov</a></p>
                    <p>Sam Jones-Ellard, Assistant to the Director<br>Email:&nbsp; <a href="mailto:Samuel.Jones@ams.usda.gov">Samuel.Jones@ams.usda.gov</a></p>
                    <p>Julie Hartley, Deputy Director<br>Email:&nbsp; <a href="mailto:Julie.Hartley@ams.usda.gov">Julie.Hartley@ams.usda.gov</a></p>
                    <p>Jim Bernau, Deputy Director<br>Email:&nbsp; <a href="mailto:Jim.Bernau@ams.usda.gov">Jim.Bernau@ams.usda.gov</a></p>
                </div>
                <div>Michael Lynch, Director</div>
                <div>Email: <a href="mailto:Michael.Lynch@ams.usda.gov">Michael.Lynch@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div><a name="Georgia" id="Georgia"><strong>Georgia</strong></a></div>
                <div>
                    <div>Atlanta (Poultry)</div>
                    <div>60 Forsyth Street, SW&nbsp;</div>
                    <div>Suite 6M80&nbsp;</div>
                    <div>Atlanta, GA 30303-2407</div>
                    <div>&nbsp;</div>
                    <p>Annie A. Terry, Officer in Charge, Poultry
                    </p><div>Email: <a href="mailto:Annie.Terry@ams.usda.gov">Annie.Terry@ams.usda.gov</a></div>
                    <div>Phone: (404) 562-5850</div>
                    <div>Fax: (404) 562-5875</div>
                </div>
                <div>&nbsp;</div>
                <div>Thomasville (Livestock)</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>Georgia State Farmer's Market&nbsp;</div>
                <div>502 Smith Avenue, Stall 38&nbsp;</div>
                <div>P.O. Box 86&nbsp;</div>
                <div>Thomasville, GA 31792-0086&nbsp;</div>
                <div>&nbsp;</div>
                <div>
                    <div>David Garcia, Officer-in Charge, Livestock</div>
                    <div>Email: <a href="mailto:david.garcia@ams.usda.gov">david.garcia@ams.usda.gov</a></div>
                    <div>Phone: (229) 226-2198</div>
                    <div>Fax: (229) 558-9158</div>
                </div>
                <div>&nbsp;</div>
                <div><a name="Illinois" id="Illinois"><strong>Illinois</strong></a></div>
                <div>Springfield</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>State Fairgrounds, Box 19281&nbsp;</div>
                <div>Illinois Dept. of Agriculture&nbsp;</div>
                <div>Division of Marketing&nbsp;</div>
                <div>Springfield, IL 62794-9281&nbsp;</div>
                <div>Office E-mail: <a href="mailto:springfield.LPGMN@ams.usda.gov">springfield.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Taylor Cox, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:taylor.cox@ams.usda.gov">taylor.cox@ams.usda.gov</a></div>
                <div>Phone: (217) 782-4925&nbsp;</div>
                <div>Fax: (217) 785-5708</div>
                <div>&nbsp;</div>
                <div><a name="Iowa" id="Iowa"><strong>Iowa</strong></a></div>
                <div>
                    <p>Des Moines, Federal Office<br>USDA, AMS, LPS, LPGMN&nbsp;<br>210 Walnut Street, Rm 767&nbsp;<br>Des Moines, IA 50309-2106&nbsp;<br>Phone: (515) 284-4460&nbsp;<br>Fax: (515) 284-4231&nbsp;<br>Office Email: <a href="mailto:Desm.LPGMN@ams.usda.gov">Desm.LPGMN@ams.usda.gov</a></p>
                    <p>Taylor Cox, Field Chief<br>Email: <a href="mailto:Taylor.Cox@ams.usda.gov">Taylor.Cox@ams.usda.gov</a></p>
                    <p>Lakisha Aller, Assistant Field Chief – LMR Swine &amp; Pork<br>Email:<a href="mailto:%20Lakisha.Aller@ams.usda.gov"> Lakisha.Aller@ams.usda.gov</a></p>
                    <p>William Worlie, Assistant Field Chief – LMR Cattle, Beef, &amp; Sheep<br>Email: <a href="mailto:William.Worlie@ams.usda.gov">William.Worlie@ams.usda.gov</a></p>
                    <p>Jason V. Karwal, Assistant Field Chief – Poultry &amp; Eggs<br>Email:<a href="mailto:%20Jason.Karwal@ams.usda.gov"> Jason.Karwal@ams.usda.gov</a></p>
                    <p>Britni Taylor, Officer-In-Charge<br>Email: <a href="mailto:Britni.Taylor@ams.usda.gov">Britni.Taylor@ams.usda.gov</a></p>
                    <p>Des Moines, State Office<br>Iowa Department of Agriculture and Land Stewardship<br>Agricultural Marketing Program<br>900 E Grand Ave #502&nbsp;<br>Des Moines, IA 50319</p>
                    <p>State Marketing Bureau Chief&nbsp;(Vacant)<br>Phone: (515) 242-6237&nbsp;</p>
                </div>
                <div><a name="Kansas" id="Kansas"><strong>Kansas</strong></a></div>
                <div>Dodge City</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>100 Military Avenue, Suite 217&nbsp;</div>
                <div>Dodge City, KS 67801-4945&nbsp;</div>
                <div>Office E-mail: <a href="mailto:DodgeCity.LPGMN@ams.usda.gov">DodgeCity.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Richard Hruska, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:richard.hruska@ams.usda.gov">richard.hruska@ams.usda.gov</a></div>
                <div>Phone: (620) 227-8881&nbsp;</div>
                <div>Fax: (620) 225-6942</div>
                <div>&nbsp;</div>
                <div><a name="Kentucky" id="Kentucky"><strong>Kentucky</strong></a></div>
                <div>Frankfort</div>
                <div>Kentucky Department of Agriculture&nbsp;</div>
                <div>111 Corporate Drive</div>
                <div>Frankfort, KY 40601</div>
                <p>Jodee Inman, Officer-In-Charge&nbsp;<br>Email:<a href="mailto: jodee.inmann@ams.usda.gov"> jodee.inmann@ams.usda.gov</a><br>Phone: (502) 782-4139<br>Fax: (502) 573-2543</p>
                <div>John Chism, Branch Manager - Market News<br>Email: john.chism@ky.gov<br>Phone: (502) 782-4107</div>
                <div>&nbsp;</div>
                <div><a name="Minnesota" id="Minnesota"><strong>Minnesota</strong></a></div>
                <div>Minneapolis</div>
                <div>Grain Exchange Office&nbsp;</div>
                <div>301 4th Ave. South, Suite 880&nbsp;</div>
                <div>Minneapolis, MN 55415&nbsp;</div>
                <div>Office Email: <a href="mailto:Minnesota.LPGMN@ams.usda.gov">Minnesota.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Carol A. Meinders, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Carol.Meinders@ams.usda.gov">Carol.Meinders@ams.usda.gov</a></div>
                <div>Phone: (612) 370-3258&nbsp;</div>
                <div>Fax: (612) 370-3259</div>
                <div>&nbsp;</div>
                <div><a name="Mississippi" id="Mississippi"><strong>Mississippi</strong></a></div>
                <div>Jackson</div>
                <div>Mississippi Department of Agriculture and Commerce&nbsp;</div>
                <div>121 North Jefferson Street&nbsp;</div>
                <div>P.O. Box 1609&nbsp;</div>
                <div>Jackson, MS 39215</div>
                <div>&nbsp;</div>
                <div>Michael Lasseter, Agriculture Project Manager</div>
                <div>Email:&nbsp;<a href="mailto:MichaelL@mdac.ms.gov">MichaelL@mdac.ms.gov</a></div>
                <div>Phone: (601) 359-1120</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><a name="Missouri" id="Missouri"><strong>Missouri</strong></a></div>
                <div>
                    <div>
                        <p>St. Joseph (Federal Office)<br>USDA, AMS, LPS, LPGMN&nbsp;<br>12819 Country Place Drive&nbsp;<br>St. Joseph, MO 64505&nbsp;<br>Phone: (816) 676-7000<br>Fax: (816) 279-8902<br>Office E-mail: <a href="mailto:StJoe.LPGMN@ams.usda.gov">StJoe.LPGMN@ams.usda.gov</a></p>
                    </div>
                    <div>
                        <p>Russ Travelute<br>Field Chief<br>Email: <a href="mailto:Russ.Travelute@ams.usda.gov">Russ.Travelute@ams.usda.gov</a></p>
                        <p>Jodie Pitcock<br>Assistant Field Chief – Livestock &amp; Grain<br>Email: <a href="mailto:Jodie.Pitcock@ams.usda.gov">Jodie.Pitcock@ams.usda.gov</a></p>
                        <p>Brittany Koop<br>LMR Compliance Program Manager<br>Email: <a href="mailto:Brittany.Koop@ams.usda.gov">Brittany.Koop@ams.usda.gov</a></p>
                        <p>Jefferson City (State Office)<br>MDA Market Development&nbsp;<br>P.O. Box 630&nbsp;<br>Jefferson City, MO 65101</p>
                        <p>Ken Struemph<br>Division Director&nbsp;<br>Phone: (573) 522-1796</p>
                        <p>Tony Hancock<br>Market News Program Manager<br>Phone: (573) 751-3459&nbsp;</p>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div><a name="Montana" id="Montana"><strong>Montana</strong></a></div>
                <div>Billings</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>Office E-mail:<a href="mailto: Billings.LPGMN@ams.usda.gov"> Billings.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>John Kimbrell, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:john.kimbrell@ams.usda.gov">john.kimbrell@ams.usda.gov</a></div>
                <div>Phone: (406) 210-4792</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><a name="Nebraska" id="Nebraska"><strong>Nebraska</strong></a></div>
                <div>Kearney</div>
                <div>Office E-mail: <a href="mailto:Kearney.LPGMN@ams.usda.gov">Kearney.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Thomas Walthers, Officer in Charge</div>
                <div>Email: <a href="http://thomas.walthers@ams.usda.gov">thomas.walthers@ams.usda.gov</a></div>
                <div>Phone: 308-390-5399</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><a name="New Mexico" id="New Mexico"><strong>New Mexico</strong></a></div>
                <div>Clovis</div>
                <div>P.O. Box 716&nbsp;</div>
                <div>Clovis, NM 88101&nbsp;</div>
                <div>Office E-mail: <a href="mailto:Clovis.LPGMN@ams.usda.gov">Clovis.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Gary Lewis, State Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Gary.Lewis@ams.usda.gov">Gary.Lewis@ams.usda.gov</a></div>
                <div>Phone: (575) 762-3705&nbsp;</div>
                <div>Fax:</div>
                <div>Las Cruces</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>205 W. Boutz Plaza, Bldg 4 Suite 4&nbsp;</div>
                <div>Las Cruces, NM 88005&nbsp;</div>
                <div>Office E-mail: <a href="mailto:LasCruces.LPGMN@ams.usda.gov">LasCruces.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>John D. Langenegger, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:john.langenegger@ams.usda.gov">john.langenegger@ams.usda.gov</a></div>
                <div>Phone: (575) 527-6861&nbsp;</div>
                <div>Fax: (575) 527-6868</div>
                <div>&nbsp;</div>
                <div><a name="North Carolina" id="North Carolina"><strong>North Carolina</strong></a></div>
                <div>Raleigh</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>1020 Mail Service Center&nbsp;</div>
                <div>2 W. Edenton St.&nbsp;</div>
                <div>Raleigh, NC 27699<br>Phone: (919) 707-3218<br>Fax: (919) 715-6748</div>
                <p>Robert Eaton, Office-In-Charge<br>Email:&nbsp; <a href="mailto:Robert.eaton@ams.usda.gov">Robert.eaton@ams.usda.gov</a><br>Phone:&nbsp; (919) 707-3218<br>Fax:&nbsp; (919) 715-6748</p>
                <div>&nbsp;</div>
                <div><a name="Oklahoma" id="Oklahoma"><strong>Oklahoma</strong></a></div>
                <div>Oklahoma City</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>2501 Exchange Avenue, Rm. 140&nbsp;</div>
                <div>Oklahoma City, OK 73108-2477</div>
                <div>&nbsp;Office E-mail: <a href="mailto:OklahomaCity.LPGMN@ams.usda.gov">OklahomaCity.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Tina Colby, Officer-in Charge</div>
                <div>Email: <a href="mailto:Tina.Colby@ams.usda.gov">Tina.Colby@ams.usda.gov</a></div>
                <div>Phone: (405) 232-5425</div>
                <div>Fax: (405) 236-0281</div>
                <div>&nbsp;</div>
                <div><a name="Oregon" id="Oregon"><strong>Oregon</strong></a></div>
                <div>Portland</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>1100 NW Naito Pkwy</div>
                <div>Portland, OR &nbsp;97209&nbsp;</div>
                <div>Office E-mail: <a href="mailto:Portland.LPGMN@ams.usda.gov">Portland.LPGMN@ams.usda.gov</a> &nbsp;&nbsp;</div>
                <div>Phone (503) 535-5001</div>
                <div>Fax&nbsp;503-326-7896</div>
                <div>&nbsp;</div>
                <div>Carol Meinders, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Carol.Meinde@ams.usda.gov">Carol.Meinde@ams.usda.gov</a></div>
                <div>Phone: (612) 370-3258</div>
                <div>Fax: (612) 370-3259</div>
                <div>&nbsp;</div>
                <div><a name="Pennsylvania" id="Pennsylvania"><strong>Pennsylvania</strong></a></div>
                <div>New Holland</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>c/o New Holland Sales Stables&nbsp;</div>
                <div>101 W. Fulton Street<br>(For Mail: P.O. Box 155)</div>
                <div>New Holland, PA 17557</div>
                <div>&nbsp;</div>
                <div>Levi Geyer, Officer-in Charge</div>
                <div>Email: <a href="mailto:Levi.Geyer@ams.usda.gov">Levi.Geyer@ams.usda.gov</a></div>
                <div>Phone: (717) 354-2391&nbsp;</div>
                <div>Fax: (717) 354-2417</div>
                <div>&nbsp;</div>
                <div><a name="South Carolina" id="South Carolina"><strong>South Carolina</strong></a></div>
                <div>West Columbia</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>117 Ballard Court&nbsp;</div>
                <div>West Columbia, SC 29172<br>Phone: (803) 737-449<br>Fax: (803) 737-9867</div>
                <p>Robert Eaton, Office-In-Charge<br>Email:&nbsp; <a href="mailto:Robert.eaton@ams.usda.gov">Robert.eaton@ams.usda.gov</a><br>Phone: (803) 737-449<br>Fax:&nbsp; (803) 737-9867</p>
                <div>&nbsp;</div>
                <div><a name="South Dakota" id="South Dakota"><strong>South Dakota</strong></a></div>
                <div>Sioux Falls</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>(For Mail: P.O.Box 39&nbsp;</div>
                <div>Worthing, SD 57077)&nbsp;</div>
                <div>28168 Commerce Ave.&nbsp;</div>
                <div>Worthing, SD 57077&nbsp;</div>
                <div>Office E-mail: <a href="mailto:SiouxFalls.LPGMN@ams.usda.gov">SiouxFalls.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Justin Lumpkin, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Justin.Lumpkin@ams.usda.gov">Justin.Lumpkin@ams.usda.gov</a></div>
                <div>Phone: (605) 372-8350&nbsp;</div>
                <div>Fax: (605) 372-8357</div>
                <div>&nbsp;</div>
                <div><a name="Tennessee" id="Tennessee"><strong>Tennessee</strong></a></div>
                <div>Nashville</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>Melrose Station&nbsp;</div>
                <div>Ellington Ag. Center, 440 Hogan Road&nbsp;</div>
                <div>Holeman Bldg., Room 101&nbsp;</div>
                <div>Nashville, TN 37220<br>(For Mail: P.O. Box 40627 Nashville, TN 37204)</div>
                <div>&nbsp;</div>
                <p>Jodee Inman, Officer-In-Charge<br>111 Corporate Drive<br>Frankfort, KY 40601<br>Email: <a href="mailto:jodee.inman@ams.usda.gov">jodee.inman@ams.usda.gov</a><br>Phone: (502) 573-2543</p>
                <div>&nbsp;</div>
                <div><a name="Texas" id="Texas"><strong>Texas</strong></a></div>
                <div>Amarillo</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>
                    <div>2300 Experiment Station Rd</div>
                    <div>P.O. Drawer 10</div>
                    <div>Bushland, TX &nbsp;79012</div>
                </div>
                <div>Phone 806-356-5785</div>
                <div>Office Email: <a href="mailto:Amarillo.LPGMN@ams.usda.gov">Amarillo.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Tina Colby, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Tina.Colby@ams.usda.gov">Tina.Colby@ams.usda.gov</a></div>
                <div>Phone: (405) 232-5425</div>
                <div>Fax: (405) 236-0281</div>
                <div>&nbsp;</div>
                <div><a name="Austin" id="Austin"><strong>Austin</strong></a></div>
                <div>Texas Department of Agriculture&nbsp;</div>
                <div>P.O. Box 12847, Capital Station&nbsp;</div>
                <div>Austin, TX 78711</div>
                <div>&nbsp;</div>
                <div>Doyle Fuchs, State Reporter&nbsp;</div>
                <div>Email: <a href="mailto:Doyle.Fuchs@AGR.STATE.TX.US">Doyle.Fuchs@AGR.STATE.TX.US</a></div>
                <div>Phone: (512) 463-7623&nbsp;</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><a name="San Angelo" id="San Angelo"><strong>San Angelo</strong></a></div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>Producer's Livestock Auction Bldg.&nbsp;</div>
                <div>1131 North Bell&nbsp;</div>
                <div>San Angelo, TX 76902-0160&nbsp;<br>(For Mail:P.O. Box 511 76905-0511)</div>
                <div>Office E-mail: <a href="mailto:SanAngelo.LPGMN@ams.usda.gov">SanAngelo.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Rebecca A. Sauder, Office-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:rebecca.sauder@ams.usda.gov">rebecca.sauder@ams.usda.gov</a></div>
                <div>Phone: (325) 653-1778&nbsp;</div>
                <div>Fax: (325) 658-3370</div>
                <div>&nbsp;</div>
                <div><a name="Utah" id="Utah"><strong>Utah</strong></a></div>
                <div>Salt Lake City</div>
                <div>Utah Department of Agriculture&nbsp;</div>
                <div>350 North Redwood Rd&nbsp;</div>
                <div>Salt Lake City, UT 84116</div>
                <div>&nbsp;</div>
                <div>Michael Smoot, State Reporter&nbsp;</div>
                <div>Email: <a href="mailto:Michael.Smoot@ams.usda.gov">Michael.Smoot@ams.usda.gov</a></div>
                <div>Phone: (801) 538-7109&nbsp;</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><a name="Virginia" id="Virginia"><strong>Virginia</strong></a></div>
                <div>Richmond</div>
                <div>Virginia Market News Service&nbsp;</div>
                <div>102 Governor Street, Suite 355&nbsp;</div>
                <div>Richmond, VA 23219-3676&nbsp;</div>
                <div>Website: <a href="http://www.vdacs.virginia.gov/marketnews">www.vdacs.virginia.gov/marketnews&nbsp;</a></div>
                <div>Office E-mail: <a href="mailto:Richmond.LPGMN@ams.usda.gov">Richmond.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>
                    <p>Mike Carpenter , Marketing Specialist<br>Email: <a href="mailto:mike.carpenter@vdacs.virginia.gov">mike.carpenter@vdacs.virginia.gov</a><br>Phone: (540) 480-1459&nbsp;<br>Fax: (804) 371-7787</p>
                </div>
                <div>&nbsp;</div>
                <div><a name="Washington" id="Washington"><strong>Washington</strong></a></div>
                <div>Moses Lake</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>10231 Road H NE&nbsp;</div>
                <div>Moses Lake, WA 98837&nbsp;</div>
                <div>Phone: (509) 762-6131</div>
                <div>Office E-mail: <a href="mailto:MosesLake.LPGMN@ams.usda.gov">MosesLake.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>Carol Meinders, Officer-in-Charge</div>
                <div>Email: <a href="mailto:carol.meinders@ams.usda.gov">carol.meinders@ams.usda.gov</a></div>
                <div>Phone: (612) 370-3258</div>
                <div>Fax: (612) 370-3259</div>
                <div>&nbsp;</div>
                <div><a name="West Virginia" id="West Virginia"><strong>West Virginia</strong></a></div>
                <div>Charleston</div>
                <div>West Virginia Department of Agriculture&nbsp;</div>
                <div>1900 Kanawha Blvd East&nbsp;</div>
                <div>Charleston, WV 25305</div>
                <div>&nbsp;</div>
                <div>
                    <p>Jonathan Hall, Senior Farm Manager<br>Land and Livestock Division&nbsp;<br>Email: <a href="mailto:jhall@wvda.us">jhall@wvda.us</a><br>Phone: (304) 558-2210&nbsp;</p>
                </div>
                <div>&nbsp;</div>
                <div><a name="Wyoming" id="Wyoming"><strong>Wyoming</strong></a></div>
                <div>Torrington</div>
                <div>USDA, AMS, LPS, LPGMN&nbsp;</div>
                <div>1834 East A Street&nbsp;</div>
                <div>Torrington, WY 82240&nbsp;</div>
                <div>Office E-mail: <a href="mailto:Torrington.LPGMN@ams.usda.gov">Torrington.LPGMN@ams.usda.gov</a></div>
                <div>&nbsp;</div>
                <div>
                    <div>Thomas Walthers, Office-In-Charge&nbsp;</div>
                    <div>Email: <a href="mailto:thomas.walthers@ams.usda.gov">thomas.walthers@ams.usda.gov</a></div>
                </div>
                <div>Phone: (307) 532-4146&nbsp;</div>
                <div>Fax: (307) 532-3838</div>
                <div>&nbsp;</div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="specialty">
            <h2>Specialty Crops Market News Contact</h2>
            <div class="contact-list">
                <ul class="list-inline">
                    <li><a href="#DC">HQ - Washington, DC</a></li>
                    <li><a href="#Arizona">Arizona</a></li>
                    <li><a href="#California">California</a></li>
                    <li><a href="#Florida">Florida</a></li>
                    <li><a href="#Georgia">Georgia</a></li>
                    <li><a href="#Idaho">Idaho</a></li>
                    <li><a href="#Illinois">Illinois</a></li>
                    <li><a href="#Massachusetts">Massachusetts</a></li>
                    <li><a href="#Maryland">Maryland</a></li>
                    <li><a href="#Michigan">Michigan</a></li>
                    <li><a href="#Missouri">Missouri</a></li>
                    <li><a href="#North Carolina">North Carolina</a></li>
                    <li><a href="#New York">New York</a></li>
                    <li><a href="#Pennsylvania">Pennsylvania</a></li>
                    <li><a href="#South Carolina">South Carolina</a></li>
                    <li><a href="#Texas">Texas</a></li>
                    <li><a href="#Virginia">Virginia</a></li>
                    <li><a href="#Washington">Washington</a></li>
                </ul><div>&nbsp;</div>
                <h2><a name="Arizona" id="Arizona"><strong>Arizona</strong></a></h2>
                <h3>Phoenix</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Phoenix Federal Building and U.S. Courthouse&nbsp;</div>
                <div>230 North First Avenue, Suite 404&nbsp;<br>&nbsp;</div>
                <div>Abbie Hannon, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Abbie.Hannon@ams.usda.gov ">Abbie.Hannon@ams.usda.gov&nbsp;</a></div>
                <div>Phone: (602) 514-7210&nbsp;</div>
                <div>Fax: (602) 514-7215</div>
                <div>&nbsp;</div>
                <h2><a name="California" id="California"><strong>California</strong></a></h2>
                <h3>Fresno</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>2202 Monterey Street&nbsp;</div>
                <div>Suite 104-A&nbsp;</div>
                <div>Fresno, CA 93721&nbsp;</div>
                <div>&nbsp;</div>
                <div>Lori Tasos, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Lori.Tasos@ams.usda.gov">Lori.Tasos@ams.usda.gov</a></div>
                <div>Phone: (559) 487-5178&nbsp;</div>
                <div>Fax: (559) 487-5199<br>&nbsp;</div>
                <div><strong>Fresno Satellite Office</strong></div>
                <p>Specialty Crops Market News<br>USDA, Agricultural Marketing Service<br>430 G Street<br>Room 120<br>Davis, CA 95616</p>
                <div>Brenda Likes, Market Reporter&nbsp;</div>
                <div>Email: <a href="mailto:Brenda.Likes@ams.usda.gov ">Brenda.Likes@ams.usda.gov&nbsp;</a></div>
                <div>Phone: (530) 759-1053</div>
                <div>&nbsp;</div>
                <h3>Los Angeles</h3>
                <div><span style="line-height:1.538em">Specialty Crops Market News&nbsp;</span></div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>1320 E. Olympic Boulevard, Suite 212&nbsp;</div>
                <div>Los Angeles, California 90021-1907&nbsp;</div>
                <div>&nbsp;</div>
                <div>Kevin Morris, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:kevin.morris@ams.usda.gov">kevin.morris@ams.usda.gov</a></div>
                <div>Phone: (213) 894-3077&nbsp;</div>
                <div>Fax: (213) 894-2898</div>
                <div>&nbsp;</div>
                <h3>San Francisco</h3>
                <div><strong>San Francisco (Burlingame)</strong></div>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>831 Mitten Road, Room 200&nbsp;</div>
                <div>Burlingame, California 94010</div>
                <div>&nbsp;</div>
                <div>James P. King, Officer-In-Charge</div>
                <div>Email: <a href="mailto:james.king2@ams.usda.gov">james.king2@ams.usda.gov</a></div>
                <div>Phone: (650) 552-9195</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <div><strong>San Francisco (Danville)</strong></div>
                <div>USDA AMS SC Market News<br>PO Box 3214<br>Danville, CA 94526</div>
                <div>&nbsp;</div>
                <div>Fred Teensma, National Reporting Technology Manager&nbsp;</div>
                <div>Email: <a href="mailto:fred.teensma@ams.usda.gov">fred.teensma@ams.usda.gov</a></div>
                <div>Phone: (510) 926-1263</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <h2><a name="DC" id="DC"><strong>Washington, DC (Headquarters)</strong></a></h2>
                <div>USDA, AMS, SC Programs&nbsp;</div>
                <div>Market News Division&nbsp;</div>
                <div>1400 Independence Avenue, SW,&nbsp;</div>
                <div>Room 1529-S&nbsp;</div>
                <div>Washington, D.C. 20250-0238&nbsp;</div>
                <div>&nbsp;</div>
                <div>Terry Long, Director</div>
                <div>Email: <a href="mailto:Terry.Long@ams.usda.gov">Terry.Long@ams.usda.gov</a></div>
                <div>Phone: (202) 720-2175</div>
                <div>Fax: (202) 720-0011</div>
                <div>&nbsp;</div>
                <div>John Okoniewski, Deputy Director</div>
                <div>Email: <a href="mailto:John.Okoniewski@ams.usda.gov">John.Okoniewski@ams.usda.gov</a></div>
                <div>Phone: (202) 720-9932</div>
                <div>Fax: (202) 720-0011</div>
                <div>&nbsp;</div>
                <div>Patty Willkie, Branch Chief, Supply Reports<br><a href="mailto:Patty.Willkie@ams.usda.gov">Patty.Willkie@ams.usda.gov</a><br>Phone: (202) 205-9690</div>
                <div>&nbsp;</div>
                <div>Fernando Palmer, Branch Chief, International Reports&nbsp;</div>
                <div>Email: <a href="mailto:Luis.Palmer@ams.usda.gov">Luis.Palmer@ams.usda.gov</a></div>
                <div>Phone: (202) 720-2264&nbsp;</div>
                <div>Fax: (202) 720-4052</div>
                <div>&nbsp;</div>
                <h2><a name="Florida" id="Florida"><strong>Florida</strong></a></h2>
                <h3>Miami</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Brickell Plaza Building&nbsp;</div>
                <div>909 S.E. 1st Avenue, Suite 712&nbsp;</div>
                <div>Miami, Florida 33131&nbsp;</div>
                <p>Ashraf Zaki, Officer-in-Charge<br>Email: <a href="mailto:Ashraf.Zaki@ams.usda.gov">Ashraf.Zaki@ams.usda.gov</a><br>Phone: (305) 373-2955<br>Fax: (305) 373-3562</p>
                <h3>Orlando</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>2461 West State Road 426, Suite 1055&nbsp;</div>
                <div>Oviedo, FL 32765&nbsp;</div>
                <div>&nbsp;</div>
                <div>Philip Montgomery, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:phillip.montgomery@ams.usda.gov">phillip.montgomery@ams.usda.gov</a></div>
                <div>Phone: (407) 365-8813&nbsp;</div>
                <div>Fax: (407) 365-9706</div>
                <div>&nbsp;</div>
                <h2><a name="Georgia" id="Georgia"><strong>Georgia</strong></a></h2>
                <h3>Atlanta</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Building 1-218&nbsp;</div>
                <div>16 Forest Parkway&nbsp;</div>
                <div>Forest Park, Georgia 30297&nbsp;</div>
                <div>&nbsp;</div>
                <div>Penny Pederson,&nbsp;</div>
                <div>Email: <a href="mailto:penny.pederson@ams.usda.gov">penny.pederson@ams.usda.gov</a></div>
                <div>Phone: (404) 361-1376&nbsp;</div>
                <div>Fax: (404) 363-2523</div>
                <div>&nbsp;</div>
                <div>Marcial (Mike) Rafanan,&nbsp;</div>
                <div>Email: <a href="mailto:marcial.rafanan@ams.usda.gov">marcial.rafanan@ams.usda.gov</a></div>
                <div>Phone: (404) 366-2748</div>
                <div>Fax: (404) 363-2523</div>
                <div>&nbsp;</div>
                <div>Alesia Swan, Chief of Field Operations</div>
                <div>Email: <a href="mailto:Alesia.Swan3@ams.usda.gov">Alesia.Swan3@ams.usda.gov</a></div>
                <div>Phone: (404) 361-9785</div>
                <div>Fax: (404) 363-2523</div>
                <div>&nbsp;</div>
                <h2><a name="Idaho" id="Idaho"><strong>Idaho</strong></a></h2>
                <h3>Idaho Falls</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>1820 E. 17th Street&nbsp;</div>
                <div>Suite 100&nbsp;</div>
                <div>Idaho Falls, ID 83404&nbsp;</div>
                <div>&nbsp;</div>
                <div>Patty Willkie, Officer-in-Charge&nbsp;</div>
                <div>Email: <a href="mailto:patty.willkie@ams.usda.gov">patty.willkie@ams.usda.gov</a></div>
                <div>Phone: (208) 525-0166&nbsp;</div>
                <div>Fax: (208) 525-5546</div>
                <div>&nbsp;</div>
                <div><strong>Idaho Falls Satellite Office</strong></div>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>12819 Country Place Drive&nbsp;</div>
                <div>Saint Joseph, Missouri 64505&nbsp;</div>
                <div>&nbsp;</div>
                <div>Ed Irvine, Market Reporter&nbsp;</div>
                <div>Email: <a href="mailto:edward.irvine@ams.usda.gov">edward.irvine@ams.usda.gov</a></div>
                <div>Phone: (816) 676-7051&nbsp;</div>
                <div>Fax: (816) 671-9368</div>
                <div>&nbsp;</div>
                <h2><a name="Illinois" id="Illinois"><strong>Illinois</strong></a></h2>
                <h3>Chicago</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Chicago International Produce Market&nbsp;</div>
                <div>2404 S. Wolcott, Unit 6&nbsp;</div>
                <div>Chicago, Illinois 60608&nbsp;</div>
                <div>&nbsp;</div>
                <div>John Kerrens,&nbsp;</div>
                <div>Email:<a href="mailto: John.Kerrens@ams.usda.gov"> John.Kerrens@ams.usda.gov</a></div>
                <div>Phone: (773) 843-1053&nbsp;</div>
                <div>Fax: (773) 843-1092</div>
                <div>&nbsp;</div>
                <h2><a name="Maryland" id="Maryland"><strong>Maryland</strong></a></h2>
                <h3>Baltimore (Jessup)</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Maryland Wholesale Produce Market&nbsp;</div>
                <div>Building A, Unit 30&nbsp;</div>
                <div>7460 Conowingo Avenue&nbsp;</div>
                <div>Jessup, Maryland 20794-9361&nbsp;</div>
                <div>&nbsp;</div>
                <div>Holly Mozal, Officer-In-Charge</div>
                <div>Email: <a href="mailto:holly.mozal@ams.usda.gov">holly.mozal@ams.usda.gov</a></div>
                <div>Phone: (410) 799-4840 and 4841&nbsp;</div>
                <div>Fax: (410) 799-8442</div>
                <div>&nbsp;</div>
                <h2><a name="Massachusetts" id="Massachusetts"><strong>Massachusetts</strong></a></h2>
                <h3>Boston</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Boston Market Terminal, Room 10&nbsp;</div>
                <div>34 Market Street&nbsp;</div>
                <div>Everett, Massachusetts 02149&nbsp;</div>
                <div>&nbsp;</div>
                <div>Jim Praski, Officer-in-Charge&nbsp;</div>
                <div>Email: <a href="mailto:james.praski@ams.usda.gov">james.praski@ams.usda.gov</a></div>
                <div>Phone: (617) 387-4498, 4681</div>
                <div>Fax: (617) 389-1387</div>
                <div>&nbsp;</div>
                <h2><a name="Michigan" id="Michigan"><strong>Michigan</strong></a></h2>
                <h3>Benton Harbor</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>U.S. Department of Agriculture&nbsp;</div>
                <div>830 South Pleasant St&nbsp;</div>
                <div>St. Joseph, MI 49085</div>
                <div>&nbsp;</div>
                <div>Debbie Friday, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Debbie.Friday@ams.usda.gov">Debbie.Friday@ams.usda.gov</a></div>
                <div>Phone: (269) 982-1004</div>
                <div>Fax: (269) 982-1005</div>
                <div>&nbsp;</div>
                <div><strong>Detroit</strong></div>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>U.S. Department of Agriculture&nbsp;</div>
                <div>Detroit Produce Terminal, Room 53&nbsp;</div>
                <div>7201 West Fort Street&nbsp;</div>
                <div>Detroit, Michigan 48209&nbsp;</div>
                <p>Columban George, Officer-In-Charge<br>Email: <a href="mailto:Columban.George@ams.usda.gov">Columban.George@ams.usda.gov</a><br>Phone: (313) 841-1111<br>Fax: (313) 841-8310</p>
                <div>&nbsp;</div>
                <h2><a name="Missouri" id="Missouri"><strong>Missouri</strong></a></h2>
                <h3>St. Louis</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Unit 1, Produce Row, Room 101&nbsp;</div>
                <div>St. Louis, Missouri 63102-1418&nbsp;</div>
                <div>&nbsp;</div>
                <div>Dennis Jemmerson, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Dennis.Jemmerson@ams.usda.gov">Dennis.Jemmerson@ams.usda.gov</a></div>
                <div>Phone: (314) 425-4520 and 4521&nbsp;</div>
                <div>Fax: (314) 621-3214</div>
                <div>&nbsp;</div>
                <h2><a name="New York" id="New York"><strong>New York</strong></a></h2>
                <h3>New York (Bronx)</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>275B NYC Terminal Market&nbsp;</div>
                <div>Bronx, New York 10474-7000&nbsp;</div>
                <div>&nbsp;</div>
                <div>Ed Martello, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:edward.martello@ams.usda.gov">edward.martello@ams.usda.gov</a></div>
                <div>Phone: (718) 542-2225,2383,5004</div>
                <div>Fax: (718) 378-0891</div>
                <div>&nbsp;</div>
                <h2><a name="North Carolina" id="North Carolina"><strong>North Carolina</strong></a></h2>
                <h3>Raleigh</h3>
                <div>North Carolina Department of Agriculture&nbsp;</div>
                <div>1020 Mail Service Center&nbsp;</div>
                <div>2 W. Edenton St.&nbsp;</div>
                <div>Raleigh, NC 27699</div>
                <div>&nbsp;</div>
                <div>Sherry Barefoot,&nbsp;</div>
                <div>Email: <a href="mailto:Sherry.Barefoot@ams.usda.gov">Sherry.Barefoot@ams.usda.gov</a></div>
                <div>Phone: (919) 707-3156</div>
                <div>Fax:</div>
                <div>&nbsp;</div>
                <h2><a name="Pennsylvania" id="Pennsylvania"><strong>Pennsylvania</strong></a></h2>
                <h3>Philadelphia</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>6700 Essington Avenue, Suite H-208&nbsp;</div>
                <div>Philadelphia, Pennsylvania 19153&nbsp;</div>
                <div>&nbsp;</div>
                <div>Mike Cramer, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:mike.cramer@ams.usda.gov">mike.cramer@ams.usda.gov</a></div>
                <div>Phone: (215) 551-6791&nbsp;</div>
                <div>Fax: (215) 336-0355</div>
                <div>&nbsp;</div>
                <h2><a name="South Carolina" id="South Carolina"><strong>South Carolina</strong></a></h2>
                <h3>Columbia</h3>
                <div>Specialty Crops Market News Service&nbsp;</div>
                <div>State Farmers Market, Phillips Conference Center&nbsp;</div>
                <div>117 Ballard Court&nbsp;</div>
                <div>West Columbia, South Carolina 29172&nbsp;</div>
                <div>&nbsp;</div>
                <div>PO Box 11280&nbsp;</div>
                <div>Columbia, South Carolina 29211&nbsp;</div>
                <div>&nbsp;</div>
                <div>Jack Dantzler, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:jack.dantzler@ams.usda.gov">jack.dantzler@ams.usda.gov</a></div>
                <div>Phone: (803) 737-4497&nbsp;</div>
                <div>Fax: (803) 737-4667</div>
                <div>&nbsp;</div>
                <h2><a name="Texas" id="Texas"><strong>Texas</strong></a></h2>
                <h3>Dallas</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>1406 Parker Street, Room 201&nbsp;</div>
                <div>Dallas, Texas 75215&nbsp;</div>
                <div>&nbsp;</div>
                <div>Kathy Posh, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:kathy.posh@ams.usda.gov">kathy.posh@ams.usda.gov</a></div>
                <div>Phone: (214) 767-5375 and 5377&nbsp;</div>
                <div>Fax: (214) 767-5383</div>
                <div>&nbsp;</div>
                <h2><a name="Virginia" id="Virginia"><strong>Virginia</strong></a></h2>
                <h3>Onley (Richmond)</h3>
                <div>Virginia Department of Agriculture and Consumer Services&nbsp;</div>
                <div>102 Governor Street, Suite 355&nbsp;</div>
                <div>Richmond, VA 23219-3676&nbsp;</div>
                <div>&nbsp;</div>
                <div>Brett Richardson&nbsp;</div>
                <div>Email: <a href="mailto:Brett.Richardson@vdacs.virginia.gov">Brett.Richardson@vdacs.virginia.gov</a></div>
                <div>Phone: (804) 371-0319&nbsp;</div>
                <div>Fax: (804) 371-7787</div>
                <div>&nbsp;</div>
                <h2><a name="Washington" id="Washington"><strong>Washington</strong></a></h2>
                <h3>Yakima</h3>
                <div>Specialty Crops Market News&nbsp;</div>
                <div>USDA, Agricultural Marketing Service&nbsp;</div>
                <div>Agricultural Service Center&nbsp;</div>
                <div>108 South 6th Ave&nbsp;</div>
                <div>Yakima, WA 98902&nbsp;</div>
                <div>&nbsp;</div>
                <div>Jeffrey Main, Officer-In-Charge&nbsp;</div>
                <div>Email: <a href="mailto:Jeff.Main@ams.usda.gov">Jeff.Main@ams.usda.gov</a></div>
                <div>Phone: (509) 575-8903&nbsp;</div>
                <div>Fax: (509) 575-5648</div>
                <div>&nbsp;</div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tobacco">
            <h2>Tobacco Market News Contact</h2>
            <div class="contact-list">
                <div>
                    <span style="line-height:1.538em">USDA, Agricultural Marketing Service&nbsp;</span>
                </div>
                <div>3275 Appling Road, Room 10</div>
                <div>Memphis, TN 38133</div>
                <div>&nbsp;</div>
                <div><strong>Barbara Meredith, Market News Director</strong></div>
                <div>Email: <a href="mailto:barbara.meredith@ams.usda.gov">barbara.meredith@ams.usda.gov</a></div>
                <div>Phone: (901) 384-3016&nbsp;</div>
                <div>Fax: (901) 384-3036</div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>